.s-1 {
	margin-bottom: 120px;
}

.container {
	width: 1052px;
	margin: 0 auto;
	border: 2px dotted black;

}



.info-div {
	margin-bottom: 26px;
}

h2 {
	display: inline-block;
	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: #4E6FAE;
	margin-right: 18px;
	vertical-align: middle;
}
.stick {
	display: inline-block;
	margin-right: 18px;
	width: 2px;
	height: 30px;
	background-color: #5012D5;
	vertical-align: middle;
}
h3 {
	display: inline-block;
	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 31px;
	color: #4E6FAE;
	vertical-align: middle;
}

.card-1 {
	width: 500px;
	height: 192px;
	background-color: #E7E7E7;
	display: inline-block;
	margin-right: 44px;
	padding: 20px;
	vertical-align: top;
}

.card-2 {
	width: 500px;
	height: 192px;
	background-color: #E7E7E7;
	display: inline-block;
	padding: 20px;
	vertical-align: top;
}

h4 {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #7E8898;
}

h5 {
	font-family: 'Tilt Prism', cursive;
	font-size: 16px;
	line-height: 19px;

}

h6 {
	margin: 50px 0;
	font-family: "BPG Nino Mtavruli", sans-serif;
	font-size: 16px;
	line-height: 19px;

}




